@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium.ttf");
}

html {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Gotham";
  margin: 0;
}

div,
input {
  box-sizing: border-box;
}

/* ---> Auth page */
.auth-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.auth-page__background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.auth-page__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-page__container {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.auth-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  padding: 25px 0;
}

.auth-page__logo {
  margin-bottom: 125px;
}

.auth-page__logo-image {
  width: 315px;
  height: 69px;
}

/*  Auth page <--- */


/* ---> Common window */
.common-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 48px 60px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);  
}

.common-window_auth {
  width: 600px;
}

.common-window_logged-in {
  display: none;
}

.common-window__title {
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #262626;
  opacity: 0.8;
}

.common-window__error {
  margin-top: 32px;
}

.common-window__button {
  margin-top: 48px;
}

.common-window__avatar {
  width: 128px;
  height: 128px;
  border: 1px solid #979797;
  border-radius: 50%;
  background-color: #979797;
  margin-bottom: 40px;
}

.common-window__avatar_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.common-window__name {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  color: #262626;
  opacity: 0.8;
}

/* Common window <--- */


/* ---> Input/s */
.inputs {
  width: 100%;
}

.input-wrapper {
  margin-bottom: 32px;
}

.input-wrapper:last-child {
  margin-bottom: 0;
}

.input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  font-family: "Gotham";
  font-size: 16px;
  color: #262626;
  opacity: 0.8;
}

.input::placeholder {
  font-size: 16px;
  opacity: 0.4;
}

.input:focus {
  outline: none;
}

.input:-moz-ui-invalid {
  box-shadow: none;
  color: #ed4159;
  border: 1px solid #ed4159;
}
/* Input/s <--- */


/* ---> Error */
.error {
  display: none;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(237, 65, 89, 0.25);
  font-size: 14px;
  font-weight: normal;
  color: #ed4159;
}
/* Error <--- */


/* ---> Button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: auto;
  padding: 0 32px;
  background-color: #ed4159;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  color: #fff;
  font-family: "Gotham";
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.button_button-hover:hover {
  color: #ed4159;
  box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
  background-color: #ffffff;
}

.button:active {
  color: #ed4159;
  box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
  background-color: #ffffff;
}

.button:focus {
  outline: 0;
}

.button::-moz-focus-inner {
  border: 0;
}

.button_logged-in {
  margin-top: 56px;
}
/* Button <--- */



@media screen and (max-width: 650px) {
  /* ---> Auth page*/
  .auth-page__logo {
    margin-bottom: 37px;
  }

  .auth-page__logo-image {
    width: 182px;
    height: 40px;
  }
  /* Auth page <--- */

  /* ---> Common window */
  .common-window {
    padding: 32px 24px 48px;
  }

  .common-window_auth {
    width: 288px;
  }

  .common-window__title {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .common-window__error{
    margin-top: 24px;
  }

  .common-window__avatar {
    width: 86px;
    height: 86px;
  }

  .common-window__name {
    font-size: 18px;
  }

  .common-window__button {
    margin-top: 40px;
  }
  /* Common window <--- */

  /* ---> Input/s */
  .input-wrapper{
    margin-bottom: 24px;
  }
  /* Input/s <--- */

  /* ---> Error */
  .error {
    font-size: 12px;
  }
  /* Error <--- */
}
